.footer {
    background-color: #0077b6;
    color: #fff;
    padding: 2em;
    text-align: left;
  }

  .footer h1 {
    color: #000000;
    margin-bottom: 1em;
  }
  
  .name_list {
    margin-top: 2em;
    display: flex;
    justify-content: left;
    list-style-type: none;
  }
  
  .name_list li {
    margin: 1em;
    color: #ffffff;

  }
  
  .copy_right {
    margin-top: 2em;
  }
  
  .copy_right span {
    margin-left: 3em;
    font-weight: bold;
    color: #000000;
  }